@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/*
html {
    background: url("../images/under.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
@font-face {
    font-family: "UniversLTStd";
    src: url("../fonts/Univers/UniversLTStd.otf");
}

@font-face {
    font-family: "UniversLTStd Black";
    src: url("../fonts/Univers/UniversBlack.ttf");
}

/* Progress bar */
*, *::after, *::before {
    box-sizing: border-box;
}

progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;

    /* Dimensions */
    width: 100%;
    height: .25em;

    /* Reset the apperance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* For Firefox/IE10+ */
    background-color: transparent;

    /* For IE10+, color of the progress bar */
    color: #161616;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.flat::-webkit-progress-value {
    background-color: #161616;
}

.flat::-moz-progress-bar {
    background-color: #161616;
}

.single::-webkit-progress-value {
    background: transparent -webkit-linear-gradient(left, transparent, #161616);
}

.single::-moz-progress-bar {
    background: transparent -moz-linear-gradient(left, transparent, #161616);
}

.multiple::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(left, green, #161616);
}

.multiple::-moz-progress-bar {
    background-image: -moz-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -moz-linear-gradient(left, green, #161616);
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
}

.progress-bar {
    position: absolute;
    background-color: #161616;
    width: 50%;
    display: block;
    height: inherit;
}

/*end progress bar*/

body {
    font-family: "UniversLTStd", serif;
}

.jumbotron {
    color: white;
    margin: 0;
    padding: 0;
}

/* NavBar */
#navbar-habiqo {

}

.navbar {
    background: #E9ECEF !important;
}

/* TODO add a breakpoint for this margins just with lg or xl*/
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 200px;
        margin-right: 200px;
        font-weight: bold;
    }
}

.ul.nav a:hover, ul.nav a:focus, ul.nav a.active {
    background-color: transparent !important;
}

/* Containers */
.section-container {
    min-height: 100vh;
    height: auto;
}

#sections-container {
    position: relative;
    overflow-y: scroll;
}

#main-div-container {
    background: url("../images/background_top.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about-us-container {
    background-color: #E9ECEF;
    padding: 46px 0 0;
    min-height: 200vh;
    height: auto;
}

#video-container {
    position: absolute;
    float: left;
    width: 570px;
    height: 430px;
    background-color: white;
    margin-top: 330px;
    z-index: 2;
    left: 220px;
}

#about-us-image {
    position: relative;
    height: 600px;
    width: 720px;
    float: right;
    margin-top: 240px;
    z-index: 1;
}

#our-system-container {
    background-color: white;
}

#our-technology-container {
    background-color: #E9ECEF;
}

#projects-container {
    height: 150vh;
    background: white;
}

#contact-container {
    background-color: #000;
}

.card {
    border: none;
}

/* Text containers */
.main-content {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: center;
    color: #161616;
}

#purpose-text {
    position: absolute;
    bottom: 104px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 477px;
    font-size: 42px;
    text-align: left;
    padding-bottom: 40px;
    line-height: 1.1;
    letter-spacing: -0.5px;
}

#learn-more-link {
    position: absolute;
    font-size: 16px;
    text-align: left;
    bottom: 89px;
    margin-left: 50px;
    margin-right: 50px;
    color: #f6f8f9;
    text-decoration: none;
    padding-right: 40px;
}

#about-us-subheading {
    margin-top: 208px;
}

.section-subheading {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    color: #787e81;
}

#our-system-subheading {
    padding-top: 130px;
}

#about-us-paragraph {
    max-width: 570px;
    margin: auto;
}

.card-img-top {
    width: 80px;
    align-self: center;
}

.card-title {
    color: black;
    text-align: center;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #787e81;
    text-align: center;
}

/* Our technology */
#our-technology-image {
    width: 720px;
    height: 600px;
}

#our-technology-text {
    margin-left: 107px;
}

/* Footer */
#habiqo-footer {
    margin-top: 50px;
    background-color: white;
    color: white;
}

#footer-email {
    word-wrap: break-word;
}

#habiqo-footer .row {
    margin-bottom: 60px;
}

#habiqo-footer .info{
    text-align: justify;
    color: #afb0b1;
}

#habiqo-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#habiqo-footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#habiqo-footer .logo{
    margin-top: 10px;
}

#habiqo-footer .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#habiqo-footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#habiqo-footer a:hover,
#habiqo-footer a:focus {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 767px) {
    #habiqo-footer {
        text-align: center;
    }

    #habiqo-footer .info{
        text-align: center;
    }
}





