@font-face {
    font-family: "UniversLTStd";
    src: url("../fonts/Univers/UniversLTStd.otf");
}

@font-face {
    font-family: "UniversLTStd Black";
    src: url("../fonts/Univers/UniversBlack.ttf");
}

body {
    font-family: "UniversLTStd", serif;
    z-index: 1;
}

/* Progress bar */
*, *::after, *::before {
    box-sizing: border-box;
}

progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;

    /* Dimensions */
    width: 100%;
    height: .25em;

    /* Reset the appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* For Firefox/IE10+ */
    background-color: transparent;

    /* For IE10+, color of the progress bar */
    color: #161616;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.flat::-webkit-progress-value {
    background-color: #161616;
}

.flat::-moz-progress-bar {
    background-color: #161616;
}

.single::-webkit-progress-value {
    background: transparent -webkit-linear-gradient(left, transparent, #161616);
}

.single::-moz-progress-bar {
    background: transparent -moz-linear-gradient(left, transparent, #161616);
}

.multiple::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(left, green, #161616);
}

.multiple::-moz-progress-bar {
    background-image: -moz-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -moz-linear-gradient(left, green, #161616);
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
}

.progress-bar {
    position: absolute;
    background-color: #161616;
    width: 50%;
    display: block;
    height: inherit;
}

/*end progress bar*/

/*NavBar*/

.ul.nav a:hover, ul.nav a:focus, ul.nav a.active {
    background-color: transparent !important;
}

.navbar {
    padding-top: 30px;
    background: #E9ECEF !important;
}

@media (min-width: 1200px) {
    .navbar-brand {
        margin-left: 139px;
        margin-right: 273px;
        font-weight: bold;
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        font-weight: bold;
    }
}

/* end navbar*/

/* MAIN DIV */
.main-div-container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("../images/background_top.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

/* LOGO */
.main-div-container > div > img {
    position: absolute;
    vertical-align: middle;
    width: 70px;
    height: 90px;
    margin-right: auto;
    top: 30%;
}

.purpose-text {
    position: absolute;
    bottom: 104px;
    margin-right: 50px;
    max-width: 477px;
    font-size: 42px;
    text-align: left;
    color: #f6f8f9;
    padding-bottom: 40px;
    line-height: 1.1;
    letter-spacing: -0.5px;
}

#learn-more-link {
    position: absolute;
    font-size: 16px;
    text-align: left;
    bottom: 104px;
    margin-right: 50px;
    color: #f6f8f9;
    padding-right: 40px;
    text-decoration: none;
}

.hvr-icon-forward:before {
    content: url("../assets/arrow.svg") !important;
}

/* Small devices */
@media (max-width: 768px) {
    .main-div-container > div > img {
        top: 20%;
    }

    .main-div-container > div {
        padding: 0;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    .main-div-container > div {
        margin-left: 137px;
    }
}

/* end main div*/

/* CONTAINERS */
.section-container {
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.section-subheading {
    font-size: 14px;
    letter-spacing: 2px;
    color: #787e81;
}

.sections-container {
    position: relative;
    width: 100%;
}

/* end containers*/

/* ABOUT US */
.about-us-container {
    background-color: #E9ECEF;
    padding: 46px 0 0;
    min-height: 200vh;
    height: auto;
    overflow: hidden;
}

.about-us-subheading {
    margin-top: 208px;
    text-align: center;
}

.about-us-paragraph {
    max-width: 570px;
    margin: auto;
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: center;
    color: #161616;
}

.container-video-image, .about-us-image-container {
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    .video-container > div {
        position: absolute;
        top: 315px;
        left: 220px;
        height: 450px;
        width: 600px;
        z-index: 5;
        background-color: white;
    }

    .about-us-image {
        position: relative;
        width: 100%;
        height: 600px;
        margin-top: 240px;
        z-index: 4;
    }
}

@media (max-width: 992px) {
    .video-container {
        align-self: center;
        width: 100%;
        height: 400px;
        background-color: white;
        margin-top: 330px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-us-image {
        align-self: center;
        max-height: 600px;
        width: 90%;
        height: auto;
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 100px;
    }
}

#content-video-container > a > img {
    float: top;
    width: 60px;
    height: 60px;
}

#content-video-container > p {
    margin-top: 36px;
    margin-bottom: 36px;
}

#content-video-container > #paragraph {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    padding-right: 30px;
    color: #161616;
    width: 400px;
}

@media (max-width: 992px) {

    #content-video-container > a > img, #content-video-container > p {
        position: relative;
        top: 40px;
    }

    #content-video-container > #paragraph {
        width: auto;
    }
}

@media (min-width: 992px) {
    #content-video-container > a > img, #content-video-container > p {
        position: relative;
        top: 87px;
        left: 103px;
    }
}

/* end about us*/

/* OUR SYSTEM */
.our-system-container {
    background-color: white;
    padding: 130px 174px;
    overflow: hidden;
    width: 100%;
}

.our-system-subheading, .our-system-heading {
    text-align: center;
}

.our-system-heading {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: center;
    margin-bottom: 69px;
    color: #161616;
}

.card {
    border: none;
}

.card-img-top {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    align-self: center;
}

.card-title {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #787e81;
    text-align: center;
}

@media (max-width: 1200px) {
    .our-system-container {
        padding: 50px 50px;
    }
}

/* end our system */

/*TODO get rid of the small white space at the right of this section*/
/* Our technology */
.our-technology-container {
    background-color: #E9ECEF !important;
    width: 100%;
}

.our-tech-subheading {
    font-size: 14px;
    letter-spacing: 2px;
    color: #787e81;
}

.our-tech-text-wrapper {
    padding: 50px;
}

.our-tech-text-wrapper > h3 {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: left;
    color: #161616;
    margin-bottom: 20px;
}

.our-tech-img-container {
    width: 100%;
    height: 600px;
    background: url("../images/our-tech-image.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 16px;
}

@media (min-width: 992px) {

    .our-technology-container {
        background: url("../images/our_tech_bg.png") no-repeat center;
        background-size: 700px;
    }

    .our-tech-img-container {
        top: 75px;
    }

    .our-tech-text-wrapper {
        padding: 200px 120px;
    }
}

/* end our technology*/

/* Our projects */
.projects-container {
    min-height: 170vh;
    height: auto;
    width: 100%;
    background: #E9ECEF;
}

.projects-image-container {
    height: 73vh;
    background: url("../images/our-projects-image.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.projects-images-options-container {
    min-height: 27vh;
    height: auto;
    margin-top: 16px;
    padding: 0;
    text-align: center;
}

.projects-images-options-container > .row {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.projects-images-options-container > .row > .col-lg-3 {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.projects-images-options-container > .row > .col-lg-3 > span {
    opacity: 0.3;
    font-size: 16px;
    color: #161616;
}

.projects-opt-images {
    padding-top: 16px;
    height: 150px;
    width: 100%;
}

.projects-last-container {
    position: relative;
    top: 250px;
}

.projects-last-container > .hvr-icon-forward:before {
    content: url("../assets/arrow_black.svg") !important;
}

.projects-last-container > span {
    float: left;
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: left;
    padding-bottom: 50px;
}

.projects-last-container > a {
    font-size: 16px;
    color: #161616;
    float: right;
    text-decoration: none;
    padding-right: 40px;
    left: 40px;
}

.projects-last-container > .row {
    clear: both;
}

.projects-last-images {
    width: 370px;
    height: 375px;
}

@media (max-width: 992px) {

    .fade-overlay > span {
        top: 45%;
    }

    .projects-images-options-container > .row > .col-lg-3 {
        margin-bottom: 20px;
    }

    .fade-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100% - 30px);
        overflow: hidden;
    }

    .projects-last-container {
        padding-top: 0;
        margin-top: 0;
    }

    .projects-last-container > .row > .col-lg-4 {
        margin-bottom: 50px;
    }

    .projects-last-container > a {
        left: 20px;
        margin-bottom: 15px;
    }

    .projects-last-container {
        width: 100%;
        overflow: hidden;
    }

    .projects-last-images {
        width: 100%;
        height: 375px;
    }

    .projects-opt-images {
        min-height: 150px;
        height: auto;
        width: 100%;
    }
}

.text {
    margin: 32px;
}

.text > p {
    font-size: 42px;
    line-height: 1.1;
    letter-spacing: -0.5px;
    text-align: left;
    color: #f6f8f9;
    position: absolute;
    overflow: hidden;
    top: 50%;
}

.text > a {
    position: absolute;
    top: 80%;
    color: white;
    text-decoration: none;
}

/* end projects*/

/* Team */
.team-container {
    padding-bottom: 145px;
    background-color: white;
    width: 100%;
}

/* Sticky logo */
.sticky-logo {
    position: fixed;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    z-index: 2;
}

.static-logo {
    position: relative;
    top: 330px;
    left: calc(50% - 175px);
    visibility: hidden;
    z-index: 2;
}

.place-in-front {
    position: relative;
    z-index: 3;
}

.team-container > .section-subheading {
    margin-top: 250px;
    margin-bottom: 30px;
    text-align: center;
}

.team-container > .meet-our-team {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: center;
    color: #161616;
    margin-bottom: 98px;
}

.team-container > .row > .col-lg-4 {
    /*background-color: #1c7430;*/
    height: 420px;
    overflow: hidden;
    text-align: center;
}

.team-container > .row > .col-lg-4 > img {
    width: 275px;
    height: 350px;
}

.team-name {
    margin-top: 25px;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.44;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.team-role {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #787e81;
}

.overlay-social-networks > a {
    position: relative;
    margin-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

@media (min-width: 992px) {
    .team-container {
        padding-bottom: 200px;
        padding-left: 200px;
        padding-right: 200px;
        background-color: white;
    }
}

/* for big screens add more margin to the right  */
@media (min-width: 1200px) {
    .overlay-social-networks {
        margin-right: 41px;
    }

}

/* For medium screens */
@media (max-width: 992px) {
    .team-container > .row > .col-lg-4 {
        /*background-color: #1c7430;*/
        min-height: 420px;
        overflow: hidden;
        height: auto;
    }

    .overlay-social-networks {
        margin-right: 15px;
    }

    .team-container > .row > .col-lg-4 > img {
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
    }
}
/* end team*/

/* CONTACT */
.contact-container, .contact-video-container, .contact-form-container {
    padding: 0;
    margin: 0;
    background-color: black;
}

.contact-video-container {
    overflow: hidden;
    height: 100vh;
}

/* Large devices: set a specific width / auto height and translate -50% to center the video */
@media (min-width: 992px) {
    .contact-video-container > video {
        background: url("https://daks2k3a4ib2z.cloudfront.net/59b3f36bf621620001ca26cf/59b7e5acf2ba930001b73830_video-poster-00001.jpg") no-repeat;
        height: auto;
        width: 140vw;
        transform: translateX(-50%);
    }
}

/* Medium devices: make the container height bigger and split the height 50 - 50 between the contact form and the video */
@media (max-width: 992px) {
    .contact-container {
        height: 200vh;
    }

    .contact-video-container {
        height: 50%;
    }

    .contact-form-container {
        height: 50%;
    }
}

.contact-form-container {
    height: calc(100vh - 55px);
    color: white;
}

.contact-form {
    padding: 100px;
}

.contact-form > p {
    margin-bottom: 30px;
    color: #787e81;
}

.contact-form > h2 {
    margin-bottom: 50px;
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: left;
}

.form-group > input {
    height: 50px;
}

.form-control,
.form-control:focus {
    background-color: #f5f5f7;
    border-radius: 0;
}

.message-textarea {
    margin-top: 10px;
}

.message-textarea > .col > .form-control {
    margin-bottom: 36px;
}

#send-message-link {
    text-decoration: none;
    color: white;
    padding-right: 40px;
}


#send-message-link > img {
    padding-left: 10px;
}

.message-textarea > .col > .form-control {
    resize: none;
}

/* end contact*/

/* Footer */
.habiqo-footer {
    padding-top: 50px;
    background-color: white;
    height: 100%;
    font-size: 14px;
    line-height: 1.71;
    color: #787e81;
}

#footer-email {
    text-align: justify;
    word-wrap: break-word;
}

.habiqo-footer .row {
    margin-bottom: 60px;
    color: #787e81;
}

.habiqo-footer .info {
    color: #787e81;
}

#shellshock-footer {
    color: black;
}

.logo {
    /*background-color: #6f42c1;*/
}

.habiqo-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.habiqo-footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.habiqo-footer .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

.habiqo-footer a {
    color: #787e81;
    text-decoration: none;
}

.habiqo-footer a:hover,
.habiqo-footer a:focus {
    text-decoration: none;
    color: black;
}

@media (max-width: 767px) {
    .habiqo-footer .logo {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .habiqo-footer > .container > .row > .logo > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .habiqo-footer {
        text-align: center;
    }

    .habiqo-footer .info {
        text-align: center;
    }

    .habiqo-footer {
        background-color: white;
        color: white;
    }

    .contact-form {
        padding: 40px;
    }
}
