/*
html {
    background: url("../images/under.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
@font-face {
    font-family: "UniversLTStd";
    src: url("../fonts/Univers/UniversLTStd.otf");
}

@font-face {
    font-family: "UniversLTStd Black";
    src: url("../fonts/Univers/UniversBlack.ttf");
}

body {
    font-family: "UniversLTStd", serif;
}

.jumbotron {
    color: white;
    margin: 0;
    padding: 0;
}

/* NavBar */
.navbar {
    background: #E9ECEF !important;
}

/* TODO add a breakpoint for this margins just with lg or xl*/
 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 200px;
        margin-right: 200px;
        font-weight: bold;
    }
}

.ul.nav a:hover, ul.nav a:focus, ul.nav a.active {
    background-color: transparent !important;
}

/* Containers */
.section-container {
    height: 100vh;
}

#sections-container {
    position: relative;
    overflow-y: scroll;
}

#main-div-container {
    background: url("../images/background_top.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about-us-container {
    background-color: #E9ECEF;
    padding: 46px 0 0;
    height: 200vh;
}

#video-container {
    position: absolute;
    float: left;
    width: 570px;
    height: 430px;
    background-color: white;
    margin-top: 330px;
    z-index: 2;
    left: 220px;
}

#about-us-image {
    position: relative;
    height: 600px;
    width: 720px;
    float: right;
    margin-top: 240px;
    z-index: 1;
}

#our-system-container {
    background-color: white;
}

#our-technology-container {
    background-color: #E9ECEF;
}

#projects-container {
    height: 150vh;
    background: white;
}

#contact-container {
    background-color: #000;
}

.card {
    border: none;
}

/* Text containers */

.main-content {
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: -0.2px;
    text-align: center;
    color: #161616;
}

#purpose-text {
    position: absolute;
    bottom: 104px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 477px;
    font-size: 42px;
    text-align: left;
    padding-bottom: 40px;
    line-height: 1.1;
    letter-spacing: -0.5px;
}

#learn-more-link {
    position: absolute;
    font-size: 16px;
    text-align: left;
    bottom: 89px;
    margin-left: 50px;
    margin-right: 50px;
    color: #f6f8f9;
    text-decoration: none;
    padding-right: 40px;
}

#about-us-subheading {
    margin-top: 208px;
}

.section-subheading {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    color: #787e81;
}

#our-system-subheading {
    padding-top: 130px;
}

#about-us-paragraph {
    max-width: 570px;
    margin: auto;
}

.card-img-top {
    width: 80px;
    align-self: center;
}

.card-title {
    color: black;
    text-align: center;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #787e81;
    text-align: center;
}





