/* Icon Forward */
.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

/*TODO change the content icon*/
.hvr-icon-forward:before {
    content: "";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

/* FADE IN OVERLAY ANIMATION */
.fade-overlay {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.projects-images-options-container > .row > .col-lg-3:hover .fade-overlay {
    opacity: 0.7;
}

.fade-overlay > span {
    position: relative;
    font-size: 16px;
    text-align: center;
    color: white;
    top: 30%;
    transform: translate(-50%, -50%);
}
/* end animation */

/* PROJECTS IMAGES HOVER OVERLAY ANIMATION */
.overlay {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    opacity: 0.8;
    background-color: #000;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.projects-last-container > .row > .col-lg-4:hover .overlay {
    width: calc(100% - 10px);
}


/* TEAM SOCIAL NETWORKS HOVER OVERLAY ANIMATION */
.overlay-social-networks {
    position: absolute;
    bottom: -25px;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 68%;
    height: 120px;
    transition: .5s ease;
    margin-bottom: 30px;
}

.team-container > .row > .col-lg-4:hover .overlay-social-networks {
    height: 180px;
    color: white;
}

/**
 * Simple fade transition for the video modal
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

